header{
    text-align: justify;
    background-color: #ffc107;
    padding: 8px;
    width: 100%;
    display:flex;
    margin-top: auto;
}

navbar{
    align-content: end;
}

footer {
    background-color: #ffc107;
}

.h1{
    font-size: 63px;
    padding: 15px;
    text-align: center;
}

body{
    margin: 0;

}

h3{
    text-align: center;
}

